html {
  height: 100%;
}

.temporary {
  text-align: center;
}

/* HEADER */
.navbar {
  display: flex;
  flex-direction: row;
}

.nav-item {
  font-size: 2rem;
  margin: auto;
  padding: 10px;
}

.ecpoke-logo {
  max-height: 200px;
  margin: auto;
  max-width: 200px;
}

/* BODY */
.body-imgs {
  background: url('../images/pokebowl.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-block {
  display: flex;
  height: 60%;
  justify-content: center;
  margin-top: 5px;
}

.card-block {
  border-radius: 10px;
}

.card {
  background-color: #F0FFF0;
  border-radius: 10px;
  height: 30%;
  margin: 5px 5px;
  width: 18%;
}

.body-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card-img {
  border-radius: 10px;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.about h1, .menu h1, .contact h1 {
  text-align: center;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 5px;
}

.footer h6 {
  line-height: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .body-imgs {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 50%;
    width: 50%;
  }

  .card-block {
    height: 100%;
    width: 100%;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){

  .body-imgs {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    height: 33%;
    width: 33%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar h4 {
    color: white;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .body-imgs {
    display: flex;
    flex-direction: row;
  }

  .card {
    height: 30%;
    width: 30%;
  }

  .card-block {
    height: 100%;
    width: 100%;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}
