html {
  height: 100%;
}

.temporary {
  font-family: 'Niconne';
  margin-top: 100px;
  text-align: center;
}

/* HEADER */

.navbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-item {
  font-size: 1rem;
  margin: auto;
  padding: 10px;
}

.ecpoke-logo {
  max-height: 50px;
  margin: auto;
  max-width: 50px;
}

/* BODY */
.body-imgs {
  background: url('../images/pokebowl.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-block {
  display: flex;
  height: 60%;
  justify-content: center;
  margin-top: 5px;
}

.about {
  margin: 5%;
}

.welcome {
  color: red;
  font-family: 'Niconne', cursive;
  font-size: 4.4rem;
  font-style: italic;
}

.subtitle {
  font-weight: 700;
}

.card-block {
  border-radius: 10px;
}

.card {
  background-color: #F0FFF0;
  border-radius: 10px;
  height: 30%;
  margin: 5px 5px;
  width: 18%;
}

.body-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card-img {
  border-radius: 10px;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.menu h1, .contact h1 {
  text-align: center;
}

.about {
  display: flex;
}

.about-left {
  max-width: 50%;
}

.about-right {
  background-image: url('http://cdn-img.instyle.com/sites/default/files/styles/684xflex/public/images/2016/08/082516-poke-bowl.jpg?itok=achChbWh');
  background-size:cover;
  background-position: center;
  min-height: 200px;
  width: 100%;
}

.modal-img {
  position: relative;
  display: table;
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  max-width: 50%;
  margin-left: 25%;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer div {
  max-width: 33%;
}

.footer h1 {
  font-family: 'Niconne', cursive;
  font-size: 3rem;
  font-weight: 300;
}

.footer h6 {
  font-family: "Magra";
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
}

.fb {
  margin: auto;
  max-height: 100px;
  max-width: 100px;
}

/* MEDIA */
@media only screen and (min-width: 320px) and (max-width: 479px){
  .body-imgs {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-left {
    margin: auto;
  }

  .card {
    height: 50%;
    width: 50%;
  }

  .card-block {
    height: 100%;
    width: 100%;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-link {
    font-size: 1rem;
  }

  .modal-img {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    margin-top: 50px;
    max-width: 80%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){

  .body-imgs {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    height: 33%;
    width: 33%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar h4 {
    color: white;
  }
}
