h2 {
  font-family: FZShuTi;
}

p {
  font-family: 'Roboto', sans-serif;
}

// ###################### HEADER #########################
.header {
  background-image: url('../images/500.JPG');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  .header-logo {
    margin: 0 auto;
    max-width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    img {
      max-width: 100%;
    }
  }
}

// ###################### ABOUT #########################

.about {
  background-color: black;
  padding-bottom: 40px;
  padding-top: 40px;
  .about-text {
    padding-bottom: 50px;
    padding-top: 50px;
    h1 {
      color: red;
      font-family: 'Niconne', cursive;
      text-align: center;
    }
    h6 {
      color: white;
      text-align: center;
    }
    p {
      color: white;
    }
  }
}

// ###################### Build #########################
.build-own {
  background-color: black;
  padding-top: 40px;
}

.customize {
  background-color: #FAEBD7;
  padding-top: 40px;
  .build {
    display: block;
    background-color: brown;
    box-shadow: 0px 4px 2px -2px #000000;
    overflow: hidden;
    .triangle {
      padding: 27px;
      transform: rotate(45deg) translate(50%,-40%);
      background-color: #FAEBD7;
      float: right;
      max-width: 20%;
    }
    h2 {
      color: #FAEBD7;
      padding: 10px;
      text-shadow: 0px 0px 3px black;
    }
  }
  .bowl {
    display: flex;
    justify-content: center;
    h2 {
      padding-top: 20px;
    }
    .bowl-left, .bowl-right {
      padding-bottom: 40px;
    }
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      .bowl-left, .bowl-right {
        border: none;
        padding: 0;
        h2, h5, p {
          text-align: center;
        }
      }
    }
  }

  .bowl-left {
    border-right: 2px dotted black;
    padding: 0 200px 0 40px;
  }

  .circle {
    background-color: brown;
    color: #FAEBD7;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 5px 0 5px;
  }

  .bowl-right {
    padding: 0 40px 0 200px;
  }

}

// ###################### GALLERY #########################
.gallery-container {
  background-color: #FAEBD7;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
  h2 {
    text-align: center;
    padding-bottom: 20px;
  }
}


.modal-img {
  max-width: 300px;
}

.grid-item {
  width:33.33%;
  img {
    padding: 3px;
    max-width: 100%;
    @media only screen and (max-width: 800px) {
      padding: 1px;
    }
  }
}


// ###################### ORDER #########################
.order {
  .order-grouping {
    top: 50%;
    left: 50%;
  }
  h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
  div {
    padding-top: 40px;
    text-align: center;
  }
}

// ###################### CONTACT #########################

.contact {
  background-color: black;
  padding-bottom: 50px;
  h2 {
    color: #BCAAA4;
    text-align: center;
  }
  .contact-header {
    padding-top: 50px;
  }
  .contact-info {
    display: flex;
    padding-top: 50px;
    div {
      padding: 0 5px 0 5px;
    }
    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  .contact-left {
    padding-bottom: 40px;
    p {
      color: white;
      text-align: center;
    }
  }
  .contact-right {
    flex-grow: 2;
  }
}
