@font-face {
  font-family: Tiki;
  src: url("Tiki-Tropic.ttf"); }
@font-face {
  font-family: SPINSTEE;
  src: url("SPINSTEE.TTF"); }
* {
  margin: 0;
  padding: 0; }

h2, h1, h5 {
  font-family: Tiki; }

.fixed-navbar {
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .fixed-navbar ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    top: 0; }
    .fixed-navbar ul li {
      font-size: 1.5em;
      list-style: none;
      padding-top: 10px; }
    .fixed-navbar ul a {
      color: black;
      text-decoration: none; }
    .fixed-navbar ul .dropDownIcon {
      display: none; }

.navbar {
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9000; }
  .navbar ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    top: 0; }
    .navbar ul li {
      font-size: 1.5em;
      list-style: none;
      padding-top: 10px; }
    .navbar ul a {
      color: black;
      text-decoration: none; }

.hide {
  display: none; }

.header {
  background-image: url("../images/500.JPG");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh; }
  .header .header-logo {
    margin: 0 auto;
    max-width: 200px;
    padding-top: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    .header .header-logo img {
      max-width: 100%; }

.about {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px; }
  .about .about-text {
    padding-bottom: 50px;
    padding-top: 50px; }
    .about .about-text h1 {
      color: #639fb9;
      text-align: center; }
    .about .about-text h6 {
      color: white;
      text-align: center; }
    .about .about-text p {
      color: black; }

.build-own {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px; }

.customize {
  padding-top: 40px; }
  .customize .build {
    display: block;
    background-color: #639fb9;
    box-shadow: 0px 4px 2px -2px #000000;
    overflow: hidden; }
    .customize .build .triangle {
      padding: 27px;
      transform: rotate(45deg) translate(50%, -40%);
      background-color: white;
      float: right;
      max-width: 20%; }
    .customize .build h2 {
      color: white;
      padding: 10px;
      text-shadow: 0px 0px 3px black; }
  .customize .bowl {
    display: flex;
    justify-content: center; }
    .customize .bowl h2 {
      padding-top: 20px; }
    .customize .bowl .bowl-left, .customize .bowl .bowl-right {
      padding-bottom: 40px; }
    @media only screen and (max-width: 800px) {
      .customize .bowl {
        flex-direction: column; }
        .customize .bowl .bowl-left, .customize .bowl .bowl-right {
          border: none;
          padding: 0;
          width: 100%; }
          .customize .bowl .bowl-left h2, .customize .bowl .bowl-left h5, .customize .bowl .bowl-left p, .customize .bowl .bowl-right h2, .customize .bowl .bowl-right h5, .customize .bowl .bowl-right p {
            text-align: center; } }
  .customize .bowl-left {
    border-right: 2px dotted black; }
  .customize .bowl-left, .customize .bowl-right {
    padding: 5%;
    width: 50%; }
    .customize .bowl-left h2, .customize .bowl-right h2 {
      padding-bottom: 10px; }
  .customize .sub-header {
    font-size: .8em; }

.gallery-container {
  background-color: #639fb9; }

.gallery {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px; }
  .gallery h1 {
    color: white;
    text-align: center;
    padding-bottom: 20px; }

.modal-img {
  max-width: 100%; }

.gal-modal img:hover {
  opacity: .7;
  transform: scale(1.05);
  transition: .35s; }

.grid-item {
  width: 33.33%; }
  .grid-item img {
    padding: 3px;
    max-width: 100%; }
    @media only screen and (max-width: 800px) {
      .grid-item img {
        padding: 1px; } }

.order {
  top: 50%;
  left: 50%; }
  .order h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
    text-shadow: 0px 0px 3px black; }
  .order div {
    padding-top: 40px;
    text-align: center; }
    .order div button {
      background: linear-gradient(#90CAF9, #42A5F5);
      color: black;
      padding: 20px; }

.contact {
  background-color: white;
  padding-bottom: 50px; }
  .contact h2 {
    color: #639fb9;
    text-align: center; }
  .contact .contact-header {
    padding-top: 50px; }
  .contact .contact-info {
    display: flex;
    padding-top: 50px; }
    .contact .contact-info div {
      padding: 0 5px 0 5px; }
    @media only screen and (max-width: 800px) {
      .contact .contact-info {
        flex-direction: column; } }
  .contact .contact-left {
    padding-bottom: 40px; }
    .contact .contact-left p {
      color: black;
      text-align: center; }
  .contact .contact-right {
    flex-grow: 2; }

@media only screen and (max-width: 800px) {
  .navbar {
    display: none; }

  ul.navbar-list li:not(:nth-child(3)) {
    display: none; }
  ul.navbar-list li.dropDownIcon {
    display: block;
    padding-right: 10px; }
  ul.navbar-list .nav-logo {
    margin: 0 auto; }
  ul.navbar-list a {
    color: black;
    text-decoration: none; }

  ul.responsive {
    display: flex;
    flex-direction: column;
    width: 100%; }
    ul.responsive li {
      text-align: left;
      padding-left: 10px; }
    ul.responsive li:nth-child(3) {
      display: none; }
    ul.responsive .dropDownIcon {
      position: absolute;
      top: 0;
      padding-right: 10px;
      right: 0; }
    ul.responsive a {
      color: black;
      text-decoration: none; } }

/*# sourceMappingURL=styles.css.map */
